<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
	<header th:replace="layout :: frgHeader"></header>

	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="welcome_docmed_area">
					<div class="row">
						<div class="col-xl-5 col-lg-5">
							<div class="welcome_thumb">
								<div class="thumb_1">
									<img th:src="@{/img/about/1.png}" alt="">
								</div>
								<div class="thumb_2">
									<img th:src="@{/img/about/2.png}" alt="">
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<div class="welcome_docmed_info">
								<h2 th:text="${title}"></h2>
								<h3>Empleado</h3>
								<form th:action="@{/empleado/save}" th:object="${empleado}"
									method="post">
									
									<div class="input-group-icon mt-10">										
										<div class="icon">											
											<i class="fas fa-info-circle" aria-hidden="true"></i>
										</div>
										<input type="text" th:field="*{identificador}"
											placeholder="Identificador" autofocus class="single-input"
											th:errorclass="'form-control is-invalid'" /> <small
											class="invalid-feedback"
											th:if="${#fields.hasErrors('identificador')}"
											th:errors="*{identificador}"></small>
									</div>

									<div class="input-group-icon mt-10">
										<div class="icon">
											<i class="fas fa-info-circle" aria-hidden="true"></i>
										</div>
										<input type="text" th:field="*{cedula}"
											placeholder="C&eacute;dula" class="single-input"
											th:errorclass="'form-control is-invalid'" /> <small
											class="invalid-feedback"
											th:if="${#fields.hasErrors('cedula')}"
											th:errors="*{cedula}"></small>
									</div>

									<div class="input-group-icon mt-10">
										<div class="icon">
											<i class="fas fa-info-circle" aria-hidden="true"></i>
										</div>
										<input type="text" th:field="*{nombres}" placeholder="Nombres"
											class="single-input"
											th:errorclass="'form-control is-invalid'" /> <small
											class="invalid-feedback"
											th:if="${#fields.hasErrors('nombres')}"
											th:errors="*{nombres}"></small>
									</div>

									<div class="input-group-icon mt-10">
										<div class="icon">
											<i class="fas fa-info-circle" aria-hidden="true"></i>
										</div>
										<input type="text" th:field="*{apellidos}"
											placeholder="Apellidos" class="single-input"
											th:errorclass="'form-control is-invalid'" /> <small
											class="invalid-feedback"
											th:if="${#fields.hasErrors('apellidos')}"
											th:errors="*{apellidos}"></small>
									</div>

									<div class="input-group-icon mt-10">
										<div class="icon">
											<i class="fa fa-plane" aria-hidden="true"></i>
										</div>
										<div class="form-select ">
											<select class="nice-select wide" th:field="*{pais.idpais}">
												<option value="0">Pa&iacute;s</option>
												<option th:each="r : ${paises}" th:value="${r.idpais}"
													th:text="${r.nombre}"
													th:selected="${paciente.pais.idpais == r.idpais}"></option>
											</select>											
										</div>
									</div>

									<div class="input-group-icon mt-10">
										<div class="icon">
											<i class="fas fa-info-circle" aria-hidden="true"></i>
										</div>
										<input type="text" th:field="*{lugarNacimiento}"
											placeholder="Lugar de nacimiento" class="single-input"
											th:errorclass="'form-control is-invalid'" /> <small
											class="invalid-feedback"
											th:if="${#fields.hasErrors('lugarNacimiento')}"
											th:errors="*{lugarNacimiento}"></small>
									</div>
									
									<div class="input-group-icon mt-10">
									<div class="icon">
											<i class="fas fa-info-circle" aria-hidden="true"></i>
										</div>
										<div class=single-input>
									<label class="radio-inline"><input type="radio" th:field="*{sexo}" value="M">&nbsp;Mujer</label>
									<label class="radio-inline"><input type="radio" th:field="*{sexo}" value="H">&nbsp;Hombre</label>
									</div>
									
									<div class="input-group-icon mt-10">
										<div class="icon">
											<i class="fas fa-info-circle" aria-hidden="true"></i>
										</div>
										<input th:field="*{nacimiento}" placeholder="Fecha de nacimiento" 
											class="single-input" type="date"											
											th:errorclass="'form-control is-invalid'">
										 <small
											class="invalid-feedback"
											th:if="${#fields.hasErrors('nacimiento')}"
											th:errors="*{nacimiento}"></small>
									</div>
									
									
								</div>
								
									<div class="input-group-icon mt-10">
										<a class="genric-btn danger radius" th:href="@{/}">
											Cancelar </a> <input type="submit"
											class="genric-btn success radius" value="Guardar" />

									</div>

									<input type="hidden" th:field="*{idpersona}" />
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout :: frgFooter"></footer>	
</body>
</html>