<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
 
		<!-- Begin Page Content -->
 
				<br />
		<div class="row">
			<div class = "col-md-4"> 
			
			</div>
			<div class = "col-md-8">
			<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>					
				</div>
				<hr />
				
				<form th:action="@{/cliente/save}" th:object="${cliente}" method="post">
										
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Nombre:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{nombre}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('nombre')}"
								th:errors="*{nombre}"></small>										

						</div>
					</div>
					
										
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Apellido:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{apellido}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('apellido')}"
								th:errors="*{apellido}"></small>										

						</div>
					</div>
					
										
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;C&eacute;dula:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{cedula}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('cedula')}"
								th:errors="*{cedula}"></small>										

						</div>
					</div>
											
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Direcci&oacute;n:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{direccion}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('direccion')}"
								th:errors="*{direccion}"></small>										

						</div>
					</div>
											
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Celular:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{celular}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('celular')}"
								th:errors="*{celular}"></small>										

						</div>
					</div>
					
											
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Correo:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{correo}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('correo')}"
								th:errors="*{correo}"></small>										

						</div>
					</div>
					
					
						<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Descripci&oacute;n:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{descripcion}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}"></small>										

						</div>
					</div>
								<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Fecha de nacimiento:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="date" 
								th:field="*{fechanacimiento}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('fechanacimiento')}"
								th:errors="*{fechanacimiento}"></small>										
	<br>	<br>	<br>	<br>	<br>
						</div>
					</div>
					
					
					
					<hr />
					<div class="form-group row">
						<div class="col-sm-4">
							<a class="btn btn-danger" 
								th:href="@{/cliente/list}">
							<i class="fas fa-minus-circle"></i>&nbsp;Cancelar</a>
							<button class="btn btn-success" type="submit">
								<i class="fas fa-plus-circle"></i>&nbsp;Guardar
							</button>
						</div>
					</div>
					<input type="hidden" th:field="*{id}" />
							
				
				</form>
				
			</div>
		</div>
			</div>
		</div>
		
		
			<footer th:replace="layout :: footer"></footer>
	<div th:replace="layout :: scripts"></div>
</body>
</html>