<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div>
			<div class="container-fluid">				
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-10" th:text="${title}"></h3>
				</div>
				<hr />
				<table class="table table-hover">
					<thead>
						<tr>
							<th><i class="fas fa-info-circle"></i>&nbsp;Nombre</th>
							<th><a class="btn btn-sm btn-success" th:href="@{/proveedor/create}" >
								<i class="fas fa-plus"></i>&nbsp;Nuevo</a>
							</th>
						</tr>
					</thead>
					<tbody>						
						<tr th:each="proveedor : ${lista}" >
							<td th:text="${proveedor.nombre}"></td>
							<td>
								<div class="row">
									<a class="btn btn-sm btn-warning" title="Editar"
									   th:href="@{/proveedor/update/} + ${proveedor.idproveedor}">
										<i class="fas fa-edit"></i>
									</a>
									<a class="btn btn-sm btn-primary" title="Ver"
									   th:href="@{/proveedor/retrieve/} + ${proveedor.idproveedor}">
										<i class="fas fa-eye"></i>
									</a>
										<a class="btn btn-sm btn-danger" title="Eliminar"
									   th:href="@{/proveedor/retrieve/} + ${proveedor.idproveedor}">
										<i class="fas fa-trash"></i>
									</a>										
								</div>

							</td>							
						</tr>				
					
					</tbody>
				</table>
			</div>
		</div>
	 
	</div>
</div>
<footer th:replace="layout :: footer"></footer>
	<div th:replace="layout :: scripts"></div>
</body>
</html>