<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
	<header th:replace="layout :: frgHeader"></header>

	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="welcome_docmed_area">
					<div class="row">
						<div class="col-xl-5 col-lg-5">
							<div class="welcome_thumb">
								<div class="thumb_1">
									<img th:src="@{/img/about/1.png}" alt="">
								</div>
								<div class="thumb_2">
									<img th:src="@{/img/about/2.png}" alt="">
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<div class="welcome_docmed_info">
								<h2 th:text="${title}"></h2>
								<h3>Tipo de enfermedad</h3>
								<table class="table table-hover">
									<thead>
										<tr>
											<th><i class="fas fa-info-circle"></i>&nbsp;&nbsp;Nombre</th>
											<th><i class="far fa-sticky-note"></i>&nbsp;&nbsp;Descripci&oacute;n</th>
											<th><a class="genric-btn success radius small" title="Nuevo"
												th:href="@{/tipoenfermedad/create}"> <i
													class="fas fa-plus"></i>											</a></th>
										</tr>
									</thead>
					<tbody>						
						<tr th:each="producto : ${lista}" >
							<td th:text="${producto.nombre}"></td>
							<td>
								<div class="row">
									<a class="btn btn-sm btn-warning" title="Editar"
									   th:href="@{/producto/update/} + ${producto.idproducto}">
										<i class="fas fa-edit"></i>
									</a>
									<a class="btn btn-sm btn-primary" title="Ver"
									   th:href="@{/producto/retrieve/} + ${producto.idproducto}">
										<i class="fas fa-eye"></i>
									</a>
									<a class="btn btn-sm btn-danger" title="Eliminar"
									   th:href="@{/producto/retrieve/} + ${producto.idproducto}">
										<i class="fas fa-trash"></i>
	 	</a>
												</div>
											</td>
										</tr>

									</tbody>
								</table>


							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout :: frgFooter"></footer>
</body>
</html>