<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="html://www.thymeleaf.org/extras/spring-security">

<head th:fragment="frgHead">
<meta charset="UTF-8">
<title>Universidad de las Fuerzas Armadas</title>




<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
 
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/flaticon.css}">
<link rel="stylesheet" th:href="@{/css/flaticon.css}">
<link rel="stylesheet" th:href="@{/css/gijgo.css}">
<link rel="stylesheet" th:href="@{/css/slicknav.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>
	<header th:fragment="frgHeader"  >
	<div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="images/elec.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                      <li class="nav-item"><a class="nav-link"
						th:href="@{/cliente/list}">Cliente</a></li>
						
				
					<li class="nav-item"><a class="nav-link"
						th:href="@{/empleado/list}">Empleado</a></li>
						 
				 
 

					<li class="nav-item"><a class="nav-link"
						th:href="@{/proveedor/list}">Proveedor</a></li>
						
					<li class="nav-item"><a class="nav-link"
						th:href="@{/producto/list}">Producto</a></li>
					<li sec:authorize="!isAuthenticated()">
						<a class="btn btn-outline-primary" th:href="@{/login}">Iniciar sesi&oacute;n</a>
					</li> 
					<li sec:authorize="isAuthenticated()"class="dropdown show">
						<a class="btn btn-outline-primary dropdown-toggle" href="#"
							role="button" id="dropdownMenuLink" data-toggle="dropdown"
						>
						<span sec:authentication="name"></span>
							
						</a>
						<div class="dropdown-menu">
							<form id="frmLogout" th:action=@{/logout} method="post">
								<button class="dropdown-item" 
								onclick="document.getElementById('frmLogout').submit();">Salir</button>
								<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}"/>
							</form>
						</div>
					</li> 
                                    </ul>
                                </nav>
                            </div>
                        </div>
                       
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
      
        </header>
        
        
        
        
        <!-- slider_area_start -->
	    <div class="slider_area " th:fragment="imagenPrincipal">
	        <div class="slider_area_inner slider_bg_1 d-flex align-items-center">
	            <div class="container">
	                <div class="row">
	                    <div class="col-xl-7">
	                        <div class="single_slider">
	                            <div class="slider_text">
	                                <h3>Material Eléctrico De Alta Calidad <br>
	                                    Venta E Instalación</h3>
	                                < 
	                                <a href="#footer" class="boxed-btn4 ">Contáctanos</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- slider_area_end -->

 






    <div class="appointment_area" th:fragment="inquietudes">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-md-6 col-lg-6">
                    <div class="appiontment_thumb d-none d-lg-block">
                        <img src="images/electricistas1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-md-6 col-md-12 col-lg-6">
                    <div class="appointment_info">
                        <div class="opacity_icon d-none d-lg-block">
                            <i class="flaticon-balance"></i>
                        </div>
                        <h3>Envíanos Tus Inquietudes</h3>
                        <p>Te atenderemos lo mas pronto posible.</p>
                        <form action="#">
                                <div class="row">
                                    <div class="col-xl-6 col-md-6">
                                            <input type="text" placeholder="Nombre">
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                            <input type="email" placeholder="Email">
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                            <input type="text" placeholder="Teléfono">
                                    </div>
                                    <div class="col-xl-12">
                                        <textarea placeholder="Mensaje" ></textarea>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="appoinment_button">
                                            <button class="boxed-btn5 " type="submit" >Enviar</button>
                                        </div>
                                    </div>
                                </div>
        
                            </form>
                    </div>

                </div>
            </div>
        </div>
    </div>









        <!-- footer_start -->
    <footer class="footer" th:fragment="footer" id="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                             <h3 class="footer_title">
                                    Contacto
                            </h3>
                            <p class="footer_text">Machala Calles 13 y 24<br>
                                09985623654 <br>
                                <a class="domain" href="#">elecperez@gmail.com</a></p>
           
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Servicios
                            </h3>
                            <ul>
                                <li><a href="#">Venta De Material Eléctrico
                                    </a></li>
                                <li><a href="#">Instalación De Material Eléctrico</a></li>
                                <li><a href="#">Contratos</a></li>
 
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end -->

    </body>
    <div th:fragment="scripts">
	    <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
	    <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
	    <script th:src="@{/js/popper.min.js}"></script>
	    <script th:src="@{/js/bootstrap.min.js}"></script>
	    <script th:src="@{/js/owl.carousel.min.js}"></script>
	    <script th:src="@{/js/isotope.pkgd.min.js}"></script>
	    <script th:src="@{/js/ajax-form.js}"></script>
	    <script th:src="@{/js/waypoints.min.js}"></script>
	    <script th:src="@{/js/jquery.counterup.min.js}"></script>
	    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
	    <script th:src="@{/js/scrollIt.js}"></script>
	    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
	    <script th:src="@{/js/wow.min.js}"></script>
	    <script th:src="@{/js/nice-select.min.js}"></script>
	    <script th:src="@{/js/gijgo.min.js}"></script>
	    <script th:src="@{/js/jquery.slicknav.min.js}"></script>
	    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	    <script th:src="@{/js/plugins.js}"></script>
	
	    <!--contact js-->
	    <script th:src="@{/js/contact.js}"></script>
	    <script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	    <script th:src="@{/js/jquery.form.js}"></script>
	    <script th:src="@{/js/jquery.validate.min.js}"></script>
	    <script th:src="@{/js/mail-script.js}"></script>
	
	    <script th:src="@{/js/main.js}"></script>
	
	    <script>
	            $('#datepicker').datepicker({
	                iconsLibrary: 'fontawesome',
	                // disableDaysOfWeek: [0, 0],
	            //     icons: {
	            //      rightIcon: '<span class="fa fa-caret-down"></span>'
	            //  }
	            });
	            $('#datepicker2').datepicker({
	                iconsLibrary: 'fontawesome',
	                icons: {
	                 rightIcon: '<span class="fa fa-caret-down"></span>'
	             }
	    
	            });
	            var timepicker = $('#timepicker').timepicker({
	             format: 'HH.MM'
	         });
	        </script>
    </div>
    
    </html>















