<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
	<header th:replace="layout :: frgHeader"></header>
	<div class="slider_area">
		<div class="slider_active owl-carousel">
			<div class="single_slider  d-flex align-items-center slider_bg_2">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="slider_text ">
								<div class="container">
									<h4>Inicio de sesi&oacute;n</h4>
									<div class="row">
										<form th:action="@{/login}" method="post">
											<div class="input-group-icon mt-10">
												<div class="icon">
													<i class="fas fa-user" aria-hidden="true"></i>
												</div>
												<input type="text" name="username" id="username"
													placeholder="Usuario" onfocus="this.placeholder = ''"
													onblur="this.placeholder = 'Usuario'" required
													class="single-input">
											</div>

											<div class="input-group-icon mt-10">
												<div class="icon">
													<i class="fas fa-key" aria-hidden="true"></i>
												</div>
												<input type="password" name="password" id="password"
													placeholder="Contrase&nacute;a"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = 'Contrase&nacute;a'" required
													class="single-input">
											</div>

											<div class="input-group-icon mt-10">
												<input type="submit" class="genric-btn info radius"
													value="Ingresar" />
											</div>

											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout :: frgFooter"></footer>
</body>
</html>